.post-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 28%!important;
    box-shadow: 0px 0px 3px 0px grey;
    border-radius: 20px;
    margin: 5px;
  }
  .post-card a{
    text-decoration: none;
    background: darkblue;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
  }
  .post-card img{
    height: 300px;
  }